<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование номеров</title>
</head>
<body class="container">
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Введите имя</label><br>
            <input type="text" name="name" value="{{ person.name }}" />
        </p>
        <p>
            <label>Введите возраст</label>
            <input type="number" name="number" value="{{ person.number }}">
        </p>
        <input type="submit" value="Сохранить">
    </form>
</body>
</html>