<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход в записную книжку</title>
</head>
<body class="container">
    <form method="POST" >
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Войти">
    </form>
</body>
</html>