<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Записная книжка</title>
</head>
<body class="container">
    <form method="POST" action="create/">
        {% csrf_token %}
        <p>
            <label>Введите имя</label><br>
            <input type="text" name="name" />
        </p>
        <p>
            <label>Введите номер</label><br>
            <input type="text" name="number">
        </p>
        <input type="submit" name="Добавить">
    </form>
{% if people.count > 0 %}
    <h2>Список номеров</h2>
    <table>
        <thead><th>Id</th><th>Имя</th><th>Номер</th></thead>
        {% for person in people %}
            <tr>
                <td>{{ person.id }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.number }}</td>
                <td><a href="edit/{{ person.id }}">Изменить</a> | <a href="delete/{{ person.id }}">Удалить</a> </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
</body>
</html>